resume = true

trace {
  fields = 'name,hash,status,exit,realtime,submit'
}

profiles {

nimbus {
//  workDir = '/data/work/temp/nxf_work'
  process.cache = 'lenient'
    
  params {
    blast_db='/data/work/databases/blast/nt'
    diamond_db=''
  } 
  
  process {
    withName: 'basecall'            { container = 'genomicpariscentre/guppy:3.1.5' }
    withName: 'demultiplex_trim'    { container = 'quay.io/bryanhepworth/qcat:latest'}
    withName: 'assemble|align'      { container = 'quay.io/biocontainers/pomoxis:0.2.2--py_0' }
    withName: 'blast|seqfile'       { container = 'quay.io/biocontainers/blast:2.7.1--h4422958_6' }
    withName: 'diamond'             { container = 'quay.io/biocontainers/diamond:0.9.24--ha888412_1' }
  }

singularity {
 enabled = true
 autoMounts = true

}

//  docker {
//    enabled = true
//    fixOwnership = true
//    runOptions = '-v /data/work:/data/work'
//  }

  process {
    cpus = 1
  }
}

}
